<div class="container">
  <div class="row">
    <div class="col">
      <mat-horizontal-stepper>
        <mat-step label="Wybierz">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-lg-4">
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                  <mat-card-actions class="d-flex justify-content-end p-0">
                    <button mat-raised-button>WYBIERZ</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step label="Uzupełnij">
          Content 2
        </mat-step>
        <mat-step label="Pobierz">
          Content 3
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>